.row {
    display: block;
    margin-bottom: 50px;
}
.catImage {
    display: inline-block;
    width: 17%;
    height: 300px;
    margin-left: 1%;
    margin-right: 1%;
    border: 3px solid black;
}

.blueBackground {
    background-color: #4286f4;
}

.pinkBackground {
    background-color: #f99ae8;
}